/*css Ducument*/

*{margin: 0;padding: 0;}
body,html{font-size: 13px;}
ul,dl,li,ol{list-style-type: none;}
a{text-decoration: none;}
img{border: none;}

/*                                     top activ                             */
#topactiv{
	width: 1260px;height: 85px;
	margin: 0 auto;
}
#topactiv a{
	display: block;
	width: 630px;height: 85px;
	float: left;
}
#topactiv img{
	width:630px;
	height:85px;
}
/*                                    head                                     */

/*                                    banner                                     */
#bannerbox{
	width: 100%;
	height: 350px;
	position: relative;
}
#banner img{
	width: 100%;
	height: 350px;
	position: absolute;
}
#bannerbox .banprev,#bannerbox .bannext{
	width: 40px;
	height: 50px;
	font-size: 40px;
	font-weight: bolder;
	position: absolute;
	cursor: pointer;
	background: #000;opacity: 0.3;
}
#bannerbox .banprev{
	top: 40%;left: 5%;background: url(../images/btn.png) left;
}
#bannerbox .bannext{
	top:40%;right:5%;background: url(../images/btn.png) right;
}
#bannerbox .banbtn{
	width: 200px;
	height: 15px;
	position: absolute;
	bottom: 24px;
	left: 45%;
}
#bannerbox .banbtn li{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background: #000;
	opacity: 0.3;
	bottom:24px;
	float: left;
	margin: 0 4px;
}


/*                                    trait                                     */
#trait{
	height: 315px;
	background: #f5f5f5;
}
#slogan{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}
#brand{
	width: 1200px;
	height: 195px;
	margin: 0 auto;
	background: #fff;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;

}
.brand{
	display: block;float: left;
	width: 99px;
	height: 64px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	text-align: center;

}
.brand img{
	margin-top:7px; 
}
/*                                    display                                     */
#display{
	padding-top:25px;
	margin-bottom:25px; 
	overflow: hidden;
}
#list{
	width: 1210px;
	margin: 0 auto;
}
#list li{
	width: 593px;height: 208px;
	border: 1px solid #ccc;
	position: relative;
	margin:5px 5px; 
	float: left;
	-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;
}
#list li:hover{
	border: 1px solid #d70057;
	transform:scale(1.02);
	box-shadow: 1px 1px 2px;	
}
#list li a{
	color: #666;
}
#list .titles{
	width: 120px;
	clear: both;
	position: absolute;
	left: 40px;
	bottom: 15px;
	text-align: center;
}
#list #sometime{
	display: block;
	margin-top:15px; 
	text-align: center;
} 
#list .titles h2{
	margin: 0 auto;
	color: #d70057;
	margin-top:35px; 
}
/*                                   banner2                                      */
#banner2{
	width: 1200px;
	height: 175px;
	margin: 0 auto;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	padding-top: 25px;
	clear: both;
}
/*                                    display2                                     */
#display2{
	padding-top:20px; 
	padding-bottom:25px; 
}
#list2{
	width: 1225px;
	overflow: hidden;
	margin: 0 auto;
}
#list2 li{
	width: 388px;height: 328px;
	border: 1px solid #ccc;
	position: relative;
	float: left;
	margin: 9px 9px;
}
#list2 li:hover{
	border: 1px solid #d70057;
}
#list2 li a{
	color: #666;
}
#list2 .titles2{
	clear: both;
	position: absolute;
	left: 40px;
	bottom: 20px;
	text-align: center;
}
#list2 #sometime2{
	display: block;
	margin-top:15px; 
	text-align: center;
} 
#list2 .titles2 p{
	font-size: 18px;
	margin: 0 auto;
	color: #333333;
	margin-top:35px; 
}
#list2 .titles2 p span{
	color: #d70057;
	font-weight: bolder;
}
/*                                    message                                     */

/*                                    head                                     */
/*                                    head                                     */
/*                                    head                                     */
/*                                    head                                     */
/*                                    head                                     */
/*                                    head                                     */
